@import './base.css';

#app {
  max-width: 100%;
  padding: 0;
  font-weight: normal;
  display: flex;
  place-content: center;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

p {
  color: white;
}

h1, h2, h3 {
  align-self: center;
  color: white;
}

i {
  font-size: 24px;
  align-self: center;
}

a:link,
a:visited,
a:active {
  color: white;
}

a:hover {
  color: #B94E56;
}

input, textarea {
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 8px;
  width: 515px;
  height: 32px;
  box-shadow: inset;
  font: 14px 'Arial', sans-serif;
}

input:focus-visible {
  border: 3px !important;
  border-color: #784259;
}

button {
  background: #B94E56;
  color: white;
  border: none;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  justify-self: center;
  display: flex;
  gap: 5px;
}

button:hover {
  cursor: pointer;
  background: #784259;
}

button:disabled {
  background: #784259;
  cursor: not-allowed;
}


